<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Confirmation</title>
</head>
<body>
    <h2>Your reservation is confirmed!</h2>
    <p>Reservation details:</p>
    <ul>
        <li>Date: {{ date }}</li>
        <li>Return Date: {{ return_date }}</li>
        <li>From Date: {{ from_date }}</li>
        <li>From where: {{ origin }}</li>
        <li>To where: {{ destination }}</li>
        <li>Trip Type: {{ trip_type }}</li>
        <li>Number of People: {{ number_of_people }}</li>
        <li>Number of Cars: {{ number_of_cars }}</li>
        <li>Distance: {{ distance }}</li>
        <li>Price: {{ price }}</li>
        <li>Vehicle ID: {{ vehicle_id }}</li>
        <li>Email: {{ email }}</li>
        <li>Phone: {{ phone }}</li>
    </ul>
</body>
</html>
