<!DOCTYPE html>
<html>
<head>
    <title>Form Başarılı Şekilde Gönderildi</title>
</head>
<body>
    <br>
    <br>
    <br>
    <h1>Form Başarılı Şekilde Gönderildi.<br>
        Devam Etmek İçin Ödeme Kısmına Gidiniz!</h1>
    <!-- Success message or redirection links -->
    <button type="button" id="paybutton">Ödeme Sayfasına Git</button>

    <script>
    document.getElementById("paybutton").addEventListener("click", function() {
      window.location.href = "payment_tr.html";
    });
    </script>

</body>
</html>
